body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.partone {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 50px 50px 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #949ba8;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0px;
}

h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}

p {
    color: #949ba8;
}

.partonebottom {
    display: flex;
    gap: 20px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    color: #F9FAF8;
    padding: 5px 15px;
}

.parttwo {
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.rounded {
    border-radius: 20px;
}

.picture {
    width: 200px;
    margin-bottom: 50px;
}

h2 {
    font-size: 26px;
    color: #1F2937;
    font-weight: bolder;
}

.partthree {
    padding: 50px 400px;
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 36px;
}

.quoteauthor {
    text-align: right;
}

.partfour {
    display: flex;
    background-color: #3882F6;
    padding: 50px 200px;
    margin: 40px 60px;
    border-radius: 10px;
    gap: 30px;
}

.call {
    color: #F9FAF8;
    font-weight: bold;
}

.signup {
    color: #E5E7EB;
    border: #F9FAF8;
}

.callsignup {
    display: flex;
    flex-direction: column;
}

.signupbutton {
    border: 2px solid #F9FAF8;
}

.partfive {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: #F9FAF8;
    padding: 20px;
}